<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">This is an incredible greeting board!</h2>

<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<div>
<h3>Greet someone?</h3>
    <form name="greetingForm" class="form-inline" ng-submit="greetingForm.$valid && greetingCtrl.submitGreeting()" novalidate>
        <div class="form-group">
            <label for="name">Wen möchtest du grüßen?</label>
            <input ng-model="greetingCtrl.greetingModel.content" class="form-control" type="text" name="name" id="name" placeholder="Name" required/>
            <p class="help-block">Form validation is {{greetingForm.$valid}}</p>
        </div>
    </form>
    <h3>People who already have been greeted</h3>
    <div class="list-group">
        <li class="list-group-item" ng-repeat="greeting in greetingCtrl.greetings"><a href="#{{greeting.id}}">{{greeting.content}}</a><span class="badge" ng-click="greetingCtrl.deleteGreeting(greeting.id)">del</span></li>
    </div>



</div>