<h2>This is an awesome bookmark manager!</h2>

<h3>Users</h3>

<ul class="nav nav-pills nav-justified">
    <li ng-repeat="account in bookmarkCtrl.accounts" ng-class="{ active:bookmarkCtrl.isActive(account)}">
        <a href ng-click="bookmarkCtrl.setActive(account)">{{account.username}}</a>
    </li>
    <li class="">
        <a href ng-click="bookmarkCtrl.loadData()">Refresh</a>
    </li>
</ul>

<div ng-repeat="account in bookmarkCtrl.accounts" ng-show="bookmarkCtrl.isActive(account)">
    <h3>{{account.username}}
        <small>has {{account.bookmarks.length}} Bookmarks</small>
    </h3>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="bookmark in account.bookmarks">
            <h4>{{bookmark.uri}}
                <small>{{bookmark.description}}</small>
            </h4>
        </div>

    </div>
</div>

<form name="newBookmark" ng-submit="bookmarkCtrl.submitBookmark(bookmarkCtrl.active)" novalidate>
    <h3 ng-show="newBookmark.$valid">Preview</h3>
    <div class="list-group" ng-show="newBookmark.$valid">
        <div class="list-group-item">
            <h4>{{bookmarkCtrl.preview.uri}} <small>{{bookmarkCtrl.preview.description}}</small></h4>
        </div>
    </div>
    <h3>New Bookmark <small>for {{bookmarkCtrl.active.username}}</small></h3>
    <!--    <fieldset class="form-group">
            <select ng-init="bookmarkCtrl.preview.account=accountCtrl.active" ng-model="bookmarkCtrl.preview.account" class="form-control" ng-options="account.username for account in accountCtrl.accounts track by account.id">
            </select>
        </fieldset>-->
    <fieldset class="form-group">
        <input ng-model="bookmarkCtrl.preview.uri" type="url" placeholder="The URL" title="URL" class="form-control" required/>
    </fieldset>
    <fieldset class="form-group">
        <textarea ng-model="bookmarkCtrl.preview.description" class="form-control" placeholder="The description of the Bookmark" title="Description"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Bookmark" />
    </fieldset>
</form>